services:
  api:
    build: .
    ports:
      - "8001:8001"
    env_file:
      - ./.env
    volumes:
      - ./:/usr/src/app
    depends_on:
      - postgres
    command: uvicorn App.main:app --host 0.0.0.0 --port 8001 --reload

  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: saadoon
      POSTGRES_PASSWORD: s@@doon123
      POSTGRES_DB: fastAPI
    volumes:
      - postgres_db:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_db:
