name: Build and Deploy code
on: [push, pull_request]
jobs:
  job1:
    environment:
        name: testing
    env:
        DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
        DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
        DATABASE_HOSTNAME: ${{ secrets.DATABASE_HOSTNAME }}
        DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
        DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
        ALGORITHM: ${{ secrets.ALGORITHM }}
        ACCESS_TOKEN_EXPIRE: ${{ secrets.ACCESS_TOKEN_EXPIRE }}

    services:
      postgres:
        image: postgres:16
        env:
            POSTGRES_USER: saadoon
            POSTGRES_PASSWORD: s@@doon123
            POSTGRES_DB: fastAPI
        ports:
        - "5432:5432"
    runs-on: ubuntu-latest
    steps:
      - name: Pull Git repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Update pip
        run: pip install --upgrade pip
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run tests
        run: pytest
