name: Build and Deploy code
on: [push, pull_request]
jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
            - name: Pull Git repository
              uses: actions/checkout@v3
            - name : Say hello to Saadoon 
              run : echo "Hello Saadoon, welcome to GitHub Actions!"

